.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", portfolios_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_portfolio_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Portfolios
    .inner
      %table.table
        %tr
          %th.first ID
          %th
            = t("activerecord.attributes.portfolio.name", :default => t("activerecord.labels.name", :default => "Name"))
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @portfolios.each do |portfolio|
          %tr{:class => cycle("odd", "even")}
            %td
              = portfolio.id
            %td
              = link_to portfolio.name, portfolio_path(portfolio)
            %td
              = portfolio.created_at
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", portfolio_path(portfolio)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_portfolio_path(portfolio)} |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", portfolio_path(portfolio), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
- content_for :sidebar, render(:partial => 'sidebar')
